ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
header{
    text-align: center;
    font-size: 50px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
.carousel{
  width: 800px;
  margin-left: auto;
  margin-right:auto ;
  justify-content:center;
  object-fit: contain
}
@media (max-width: 768px) {

  .carousel { 
      padding: 0;
      max-width:100%;
      margin-left: auto;
      margin-right:auto ;
      justify-content:center;
      object-fit: contain
  }
}
.swiffy-slider {

  width: 50%; /* Adjust width as needed */

  height: 50%; /* Adjust height as needed */
  object-fit: cover;
  text-align: center;
  display:block;
  margin-left: auto;
  margin-right:auto;
    

}
.Rugbyimage{
  max-width: 50%;
  float: left;
}
.Headingimage{
  float: right;

}
.rugbyimagetext{
  float: right;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
